
{% extends "layout.html" %}
{% block content %}

	    <main>
	
		<h2>Documentação de Apoio Técnico</h2>
		
        <!-- Sessão Documentação-->
        
		<div class="w3-container">
			<div class="offset-1 col-4 list-div">
				<div> <!--id="box"-->
	
				<span>Apresentação Discrição Acústica<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Anexo_B - Apresentação Delineamento - Equipamentos.pdf" target="_blank"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>MN Calços (Máximo e Mínimo)<a href="mn.html"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Rota de Cabos<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Rota_Cabos_Filtros_VERSION_7 - Atualizar.xlsm"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Download</button></a></span>
				<hr>
				<span>Memorial Descritivo IMZ</b><a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material_MD\MD-DIN-069-00-001_0_2.pdf" target="_blank">
				<span><button class="btn btn-outline-warning" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Guia de Elaboração – SIECC<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Anexo_C - Guia de Elaboração – SIECC.pptx" target="_blank">
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></td></ul>				
				<hr>
				<span>Duplicação de Caderno<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Anexo_D - Apresentação Duplicação de Cadernos.pdf" target="_blank"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Modelo de Notas<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material_MD\Anexo_A - Modelo de Notas.pdf" target="_blank"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Sistema SBR (Pré-BATCH)<a href="W:\DIN\GD\INT\02_INTERNO\alexsandro.oliveira\IMZ\Geral\Sistemas do SBR Pre Batch 19 REV32 20160222.xlsx" target="_blank"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Padrões Template B11 (SMB-200960)<a href="http://api-doc.icnavais.net/document/downloadGeral/lastRevision?number=SMB-200960"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>CMDs E08 (SMB-204090)<a href="http://api-doc.icnavais.net/document/downloadGeral/lastRevision?number=SMB-204090"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Rastreabilidade (SMB-200945)<a href="http://api-doc.icnavais.net/document/downloadGeral/lastRevision?number=SMB-200945"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>INTEGRATION OF TORPEDO (SMB-200565)<a href="http://api-doc.icnavais.net/document/downloadGeral/lastRevision?number=SMB-200565"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Tabela B05 (SMB-002930)<a href="http://api-doc.icnavais.net/document/downloadGeral/lastRevision?number=SMB-002930"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Macro Templates<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Macro_CTE_Template.xlsm"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Download</button></a></span>
				<hr>
				<span>Macro Gerar PDF<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\GerarPDFs_Externo - Impressão.xlsm">
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Download</button></a></span>
				<hr>
				<span>Macro Gerar PDF (Multiplas Folhas)<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\GerarPDFs_Multiplas_Paginas.xlsm">
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Download</button></a></span>
				<hr>
				<span>Macro Alterar Documentos<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Atualiza_DOCS.xlsm" target="_blank"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Macro Alterar Documentos (Renomear)<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Atualiza_DOCS_Renomeia.xlsm" target="_blank"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Donload Automático do Portal Documentação<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Portal_Document_001.xlsm" target="_blank"></span>
				<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>
				<hr>
				<span>Macro Analisar NCR_PR_CTE<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\ANALYZE_NCR.xlsm" target="_blank"></span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar</button></a></span>

				</div>
			</div>
		</div>

    </main>
	
   {% endblock content %}