
{% extends "layout.html" %}
{% block content %}

    <main>
	
		<h2>Documentação IMZ</h2>
		<br>
		
        <!-- Sessão Documentação-->
            
        <div class="offset-1 col-4 list-div">
		

			<span>Part List<a href="http://epm.icnavais.net/%40MV_INT_TDPIS_PL" target="_blank"></span>
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a>
			<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\PL_BATCH34.xlsx"><button type="button" class="btn btn-outline-success" id="bt3">Download B34</button></a>
			<a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\PL_BATCH35.xlsx"><button type="button" class="btn btn-outline-warning" id="bt4">Download B35</button></a></span>
			<hr>
			<span>Inspection Request<a href="http://epm.icnavais.net/%40MV_INT_TDPIS_CTE" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a><a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\IR_BATCH34.xlsx">
			<span><button type="button" class="btn btn-outline-success" id="bt3">Download B34</button></a><a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\IR_BATCH35.xlsx">
			<span><button type="button" class="btn btn-outline-warning" id="bt4">Download B35</button></a></span>
			<hr>
			<span><b>LIT</b><a href="http://epm.icnavais.net/%40VW_EPM_INT_REPORT_CC_LIT" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span><b>LMA</b><a href="http://epm.icnavais.net/%40VW_EPM_INT_REPORT_CC_LMA" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span><b>LMA (com elementos do SIECC)</b><a href="http://epm.icnavais.net/%40VW_EPM_INT_REPORT_CC_LMA_SIEEC" target="_blank"><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>AIS<a href="http://epm.icnavais.net/%40INT_AIS_SMB" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>Nomenclature<a href="http://epm.icnavais.net/%40VW_INT_NOMENCLAURE" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<!--<span><a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Nomenclature.html"><button type="button" class="btn btn-outline-success" id="bt3">Acesso Direto</button></a></span>-->
			<hr>
			<span>Leak_Test (M09)<a href="http://epm.icnavais.net/%40VW_int_M09_LEAK_TEST" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>Matrice_CMX_Catalogue (BDMS/MATS)<a href="http://epm.icnavais.net/%40VW_EPM_INT_REPORT_BDM" target="_blank"><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>Lista de Cabos<a href="http://epm.icnavais.net/%40MV_INT_TDPIS_SMB330521" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<span><a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Cable.html"><button type="button" class="btn btn-outline-success" id="bt3">Acesso Direto</button></a></span>
			<hr>		
			<span>Decomposição | Substituição<a href="http://epm.icnavais.net/%40MV_INT_TDPIS_DECOMP" target="_blank"><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>SISEPC<a href="http://epm.icnavais.net/%40MV_SISEPC_NEM" target="_blank"><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>Caixas<a href="http://epm.icnavais.net/%40epm_int_caixas" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>MAPA CTEs<a href="http://epm.icnavais.net/%40TAB_INT_CTE_FINAL_MAP_NE" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>Desenhos Seating (Localizar Desenhos de Suporte)<a href="http://epm.icnavais.net/%40INT_acompanhamentos" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>Rastreabiliddade<a href="http://epm.icnavais.net/%40MV_INT_TDPIS_SMB200945" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>Torques<a href="http://epm.icnavais.net/%40MV_INT_TDPIS_TORQUE" target="_blank">
			<span><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar EPM</button></a></span>
			<hr>
			<span>Fitted Cables<a href="http://api-doc.icnavais.net/document/downloadGeral/lastRevision?number=SMB-323607" target="_blank"><button class="btn btn-outline-secondary" id="bt5" type="submit">Acessar Portal</button></a></span>
			<hr>
			<span>Tradução de Termos Técnicos<a href="W:\DIN\GD\01_PUBLICO\Page_Translater_Tecnical\tabela-translater_all.html"><button class="btn btn-outline-secondary" id="bt2" type="submit">Acessar Tab &nbsp </button></a></span>
			<hr>
			<span><b>Batchs Obsoletos</b><a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Batch_Obsoletos" target="_blank"><button class="btn btn-outline-secondary" id="bt5" type="submit">Acessar Pastas</button></a></span>
			<hr>
			<span><b>Outras Panilhas</b><a href="W:\DIN\GD\INT\02_INTERNO\HOME_PAGE\IMZ_HOME\Material\Outras Utilidades" target="_blank"><button class="btn btn-outline-secondary" id="bt5" type="submit">Acessar Pastas</button></a></span>
			<hr>
            </div>

    </main>
	
   {% endblock content %}