{% extends "layout.html" %}
{% block content %}

	<main>
        <div class="fade">
            <figure class="figure" id="figuras" align="right"> 
                <img src="static/img/ICN_SUB1.png" width="1900" height="1000" align="center" class="figure-img img-fluid rounded" alt="Imagem de um Submarino.">
                <figcaption class="figure-caption" align="right">3D_SBR.</figcaption>
            </figure>
        </div>

		<div class="example1">
			<h3><img src="static/img/IMZ.png"><h3>
		</div>
	</main>

{% endblock content %}

